{% extends 'base.html' %}

{%load static%}

{% block content %}



    
        <div class="square"></div>
        <div class="page-title">
            <h1 class="properties-headline">Properties
                <hr class="headline">
            </h1>
        
        </div>
        
        
        <div class="main-propertie-content">
            <div class="content-side">
                <div class="content-grid">
                    {% for home in homes %}
                       <a class="link-card" href="{%url 'properties:detail' home.id%}">
                           <div class="propertie-card">
                               <div class="propertie-image">
                                   <img src="{{home.house_image.url}}" alt="home" class="propertie-img">
                               </div>
                               <div class="propertie-text-container">
                                   <hr class="BegLine">
                                   <h2 class="propertie-name">{{home.house_name}}</h2>
                                   <p class="propertie-location">{{home.address}}</p>
                                   <p class="propertie-price">$ {{home.price}}<span>/Month</span></p>
                               </div>
                           </div>
                       </a>
                    {% endfor %}
                </div>
            </div>
            <div class="image-side">
                <img src="{% static 'FixedImages/PropertiesPage/side.jpg'%}" alt="Chandeliers" class="side-img">
            </div>
        </div>
    

   
    
    

{% endblock  %}