{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'properties/properties.css'%}">
    <title>Real estate company</title>
</head>
<body>
    <div class="body">
        <div class="nav">
            <a href="{%url 'properties:propertiesView'%}">
                <div class="asset">
                    <div class="hover">
                    </div>
                    <div class="inner-hover"></div>
                </div>
            </a>
            <div class="asset">
                <div class="hover">
                </div>
                <div class="inner-hover"></div>
            </div>
        </div>
        {% block content %}{% endblock  %}
    </div>
</body>
</html>