*,*::before,*::after{
    box-sizing: border-box;
}

html,body{
    margin: 0;
}

img{
    max-width: 100%;
}

h1,h2,h3,p{
    font-family: 'Helvetica', sans-serif;
    padding: 0;
    margin: 0;
}

.detail-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.hero-detail{
    display:flex;
    flex-direction: column;
}

.icon-size{
    width: 50px;
    height: 50px;
    margin-left: 2rem;
    cursor: pointer;
    
}
.detail-hero-image{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.grid-detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin:2rem;
}


.number{
    font-size: 2rem;
    font-weight: bolder;
    margin-block: 1rem;
}
.icon{
    height: 70px;
    width: 70px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bottom-text{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
}


.detail-section{
    background-color: #474747;
    color: white;
    padding: 3rem;
    text-align: center;
}

.detail-price{
    font-size: 3rem;
    font-weight: bolder;
}
.detail-sqr{
    font-size: 1.5rem;
}

.first-flex{
    margin-bottom: 2rem;
}

.flex-detail-title{
    margin-top: 2rem;
    font-size: 2.5rem;
}


.bottom-detail-text{
    padding: 3rem;
}

.bottom-title{
    font-size: 2.7rem;
    margin-bottom: 2rem;
}
.contact-image{
    height: 70px;
    width: 70px;
}
.contact-text{
    font-size:1.5rem;
    padding-left: 1rem;
}
.contact{
    display: flex;
    align-items: center;
   
}

.footer{
    background-color: rgb(31, 31, 31);
    height: 100px;
}

@media(min-width: 800px){
    .hero-detail{
        flex-direction: row;
        justify-content: space-between;
        
    }
    .propertie-detail-text{
        width: 40%;
    }
    .detail-image{
        width: 60%;
    }
    
    .text-flex{
        display: flex;
        flex-direction: row;
    }

    .text-flex > *{
        flex-basis: 100%;
    }
    .middle-flex{
        text-align: left;
        border-left: 5px solid white;
        padding-left: 3rem;
    }

    .bottom-detail-container{
        display:flex;
        flex-direction:row ;
    }

    .image-detail-bottom-container{
        width: 60%;
    }

    .bottom-detail-text{
        width: 40%;
    }


}

@media(min-width: 1400px){
    .icon-size{
        height: 70px;
        width: 70px;
    }
    .propertie-detail-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .detail-title{
        max-width: 400px;
        font-size: 6rem;
        
        margin-left:6rem; 
        text-align: left;
        
    }
    .grid-detail{
        max-width: 600px;
    }

    .detail-section{
        padding: 9rem 0;
    }

    .detail-price{
        font-size: 5rem;
        margin: 1rem 0;
    }
    .detail-sqr{
        font-size: 2rem;
    }

    .detail-description{
        font-size: 1.3rem;
    }
    .flex-detail-title{
        font-size: 4rem;
    }

    .bottom-title{
        font-size: 5rem;
    }
    .contact{
        margin-top: 2rem;
    }
    .image-size{
        height: 100%;
        width: 100%;
    }
}

@media(min-width: 1400px){

    .detail-title{
        max-width: 600px;
        font-size: 8rem;
        
        margin-left:6rem; 
        text-align: left;
        
    }
}



